<nav>
    <h3>Getting involved</h3>
    <ul>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/">Group Home Page</a></li>
        <li><a href="https://github.com/search?q=topic%3Apubl-wg+org%3Aw3c&type=Repositories">Github repositories</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/Meetings/">Information on meetings</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/">Meeting minutes</a></li>
        <li><a href="https://github.com/w3c/publ-wg/wiki">WG Wiki</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/WorkMode/">WorkMode</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/Misc/publishing">Publishing Workflow</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/Misc/presentations">Public Presentations</a></li>
        <li><a href="https://www.w3.org/2004/01/pp-impl/100074/join">Join the Working Group</a></li>
    </ul>
<!--
    <h3>Drafts</h3>
    <ul>
    </ul> -->

    <h3>Group details</h3>
    <ul>
        <li><a href="https://www.w3.org/2000/09/dbwg/details?group=100074&public=1&order=org">Participants</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/PublStatus">Publication status and milestones</a></li>
        <li><a href="https://w3c.github.io/web-roadmaps/publishing/">W3C Technologies Needed for Web Publications</a></li>
        <li><a href="https://www.w3.org/2017/04/publ-wg-charter/">Charter</a></li>
        <li><a href="https://www.w3.org/2004/01/pp-impl/100074/status">Patent Policy Status</a></li>
    </ul>

    <h3>Nearby</h3>
    <ul>
        <li><a href="https://www.w3.org/publishing/">Publishing@W3C</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-bg/">Publishing Business Group</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-cg/">EPUB 3 Community Group</a></li>
        <li><a href="https://www.w3.org/TR/#tr_Digital_Publishing">Publishing@W3C Publications</a></li>
    </ul>

    <h3>General Links</h3>
    <ul>
        <li><a href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
        <li><a href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
        <li><a href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
        <li><a href="https://www.w3.org/TR/patent-policy/">W3C Patent Policy</a></li>
        <li><a href="https://www.w3.org/Consortium/Process/">W3C Process Document</a></li>
        <li><a href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
    </ul>
</nav>
