<!DOCTYPE html>
<html lang="en" data-apiary-key="8zjsn0qpm1gc4wso4gogowwsg0skcso" data-apiary-group="100074">
<head>
    <meta charset="utf-8">
    <title>W3C Audiobooks Working Group</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <meta name="application-name" content="Publishing Working Group" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="description" content="The mission of the Publishing Working Group is to enable all publications—with all their specificities and traditions—to become first-class entities on the Web." />
    <link rel="stylesheet" href="https://www.w3.org/publishing/groups/publ-wg/assets/css/style.css">
    <link rel="stylesheet" href="https://www.w3.org/publishing/groups/publ-wg/assets/css/style-extras.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
    .smaller {
        font-size: smaller
    }

    </style>
</head>
<body>
    {% include header.html %}
    <main>
        {% include nav.html %}
        <section id='content'>
            <h1 style="border-bottom: 1px solid #ccc">
                <a href="https://www.w3.org/publishing/">
                    <object data="https://www.w3.org/publishing/logo/logo.svg" height=25 type="image/svg+xml"></object>
                </a>
                <br/>
                Audiobooks Working Group
            </h1>
            {{ content }}
        </section>
        {% include aside.html %}
    </main>
    {% include footer.html %}

    <script src="https://w3c.github.io/apiary/apiary.js"></script>
  </body>
</html>
